body {
  background-color: #1e2423;
  color: #9c9797;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  text-shadow: 0 0 10Px #712a2a;
  font-size: 1.35em;
}

::-webkit-scrollbar {
  width: 0;
}

#nav-1 {
  margin: 65Px auto 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
  max-width: 1000Px;
  text-align: center;
}

.navi {
  display: table-cell;
  position: relative;
  padding: 10Px 0;
}

a.navigation {
  position: relative;
  color: #9c9797;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 10Px 10Px;
}

a.navigation:after {
  background: transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2Px;
  left: 50%;
  position: absolute;
  background: #9c9797;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

a.navigation:hover:after {
  width: 100%;
  left: 0;
}

.content-wrapper {
  margin-bottom: 260Px;
  display: flex;
  padding: 20px;
}

h1 {
  position: relative;
  font-size: 140Px;
  margin: 230Px auto 50Px 120Px;
}

p.About-me {
  position: relative;
  margin: 175Px 50Px 50Px 40PX;
  text-align: center;
  width: 800Px;
  line-height: 1.3em;
  font-size: 1.2em;
  padding-top: 65Px;
}

img {
  position: relative;
  float: left;
  width: 100%;
  max-width: 550px;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 200PX 40Px 50Px 0Px;
  object-fit: contain;
}

.myAchievements, .myProjects, .questions, .contacts {
  font-size: 70Px;
  text-align: center;
}

.skills {
  list-style-type: none;
}

.h-skills, .s-skills, .ach {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2em;
}

.h-skills h2, .s-skills h2, .ach h2 {
  font-size: 50Px;
}

.download-link, .ref {
  text-decoration: none;
  color: #605050;
}

.download-link:hover, .ref:hover {
  text-decoration: underline;
  cursor: pointer;

}

.download-link:visited, .ref:visited {
  text-decoration: none;
  color : #587e96;
}

.proj {
  font-size: 47Px;
}

#c-w-4 {
  flex-direction: column;
}

.questions {
  margin-bottom: 20Px;
}

.q {
  text-align: center;
  margin-top: 30Px;
  text-shadow: 0 0 9Px #343232;
}

#ans-1, #ans-3 {
  text-align: left;
  font-size: 1.2em;
  width: 1350Px;
}

#ans-2, #ans-4 {
  text-align: right;
  font-size: 1.2em;
  width: 1350Px;
  margin-left: auto;
}

.contact {
  margin: auto;
}

#c-w-5 {
  margin-bottom: 35Px;
}

